/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.logo img {
    width: 150px;
    height: 50px;
}

.logo {
    width: 190px;
    height: 80px;
    background-color: #EB3300;
    justify-content: center; /*Sirve para centrar horizontalmente*/
    align-items: center; /*Sirve para centrar verticalmente*/
    display: flex;
}
.header {
    background-color: #000;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    display: grid;
    align-items: center;
}
.menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 100px;
    align-items: center;
    font-family: "Open Sans";
    font-weight: bold;
}
.buscador {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    align-items: center;
}

a {
    color:#fff;
    text-decoration: none;
}
a:visited { 
    color: #ffffff; 
    text-decoration: none;
}

a:hover {
color: #ffffff;
text-decoration: none;
font-size: 18px;
}

select {
    background-color: black;
    border: none;
    color:#ffffff;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 15px;
}


/* @import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

th {
   background-color: #000000;
   font-size: 1.5rem;
   color: #ffffff; 
} */
/* nth-child es un selector de css */
/* tr:nth-child(1), tr:nth-child(3) {
    background-color: #bec1c3;
    color: #000000;
    font-size: 1.5rem;
} */
/* tr:nth-child(2){
    background-color: #045795;
    color: #ffffff;
    font-size: 1.5rem;
} */

/* h2 {
    color: #ff4900;
    font-size: 2rem;
} */

/* p.primero {
    font-size: 1rem;
    color: #0093FF;
    font-family: Arial;
} */

/* p.segundo {
    font-size: 12px;
    color: #c500ff;
    font-family: 'Nerko One',cursive;
} */
/* a {
    color: #001bff;
    font-style: bold;
    text-decoration: none;
}

a:visited { color: #4CAF50; } */

/* a:hover {
    color: #ff6600;
    text-decoration: underline
} */