USE [dbLibrary]
GO
/****** Object:  Table [dbo].[books]    Script Date: 6/12/2024 9:27:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[books](
	[id] [varchar](9) NOT NULL,
	[tittle] [varchar](60) NULL,
	[author] [varchar](60) NULL,
	[editorial] [varchar](60) NULL,
	[pages] [varchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[books] ([id], [tittle], [author], [editorial], [pages]) VALUES (N'0000-0000', N'El principito', N'Samu', N'samu2', N'123')
INSERT [dbo].[books] ([id], [tittle], [author], [editorial], [pages]) VALUES (N'0000-0001', N'Cien años de soledad', N'Gabriel Garcia marzquez', N'sudamericana', N'600')
INSERT [dbo].[books] ([id], [tittle], [author], [editorial], [pages]) VALUES (N'0000-0003', N'La divina comedia', N'Dante Alighieri', N'Atenea', N'451')
GO
