.header{
    background-color: #85A98F;
}
.card {
    filter: drop-shadow(
        3px 2px 20px rgba(186, 183, 183, 0.8)  
    );
}
.hola {
    filter: drop-shadow(
        0 0 10px rgba(0, 0, 0, 0.8)  
    );
}