<div class="header block text-center p-4 mb-3">
    <div class="grid align-items-center">
        <div class="card col-6">
            <p-menubar [model]="items" >
                <ng-template pTemplate="item" let-item>
                    <a [routerLink]="item.route" class="p-menuitem-link">
                        <span [class]="item.icon"></span>
                        <span class="ml-2">{{item.label}}</span>
                    </a>
                </ng-template>
            </p-menubar>
        </div>
        <div class="col-6">
            <p-image class="hola" width="70" src="https://images.vexels.com/content/229082/preview/book-circles-logo-82dff4.png"/>
        </div>
    </div>
    
</div>