<!-- Gerent name -->
<p><b>El nombre del gerente</b></p>
<p class="subtitle">Descripción</p>
<p-inputGroup>
    <p-inputGroupAddon><i style="font-family:'Times New Roman', Times, serif; font-style: normal;">T</i></p-inputGroupAddon>
    <input type="text" pInputText>
</p-inputGroup>

<!-- Gerent email -->
<p><b>Correo electrónico del gerente</b></p>
<p class="subtitle">Descripción</p>
<p-inputGroup>
    <p-inputGroupAddon><i class="pi pi-envelope"></i></p-inputGroupAddon>
    <input type="text" pInputText>
</p-inputGroup>

