
<div [formGroup]="otherForm">
    <div class="p-field"> <!-- director name -->
        <label for="directName"><b>El nombre del gerente</b></label>
        <p class="subtitle">Descripción</p>
        <p-inputGroup>
            <p-inputGroupAddon><i style="font-family:'Times New Roman', Times, serif; font-style: normal;">T</i></p-inputGroupAddon>
            <input type="text" id="directName" formControlName="directName" pInputText>
        </p-inputGroup>
        <div class="error" *ngIf="otherForm.controls['directName'].invalid && otherForm.controls['directName'].touched">
            El nombre del gerente es necesario
        </div>
    </div>

    <div class="p-field"> <!-- director email -->
        <label for="directEmail"><b>Correo electrónico del gerente</b></label>
        <p class="subtitle">Descripción</p>
        <p-inputGroup>
            <p-inputGroupAddon><i class="pi pi-envelope"></i></p-inputGroupAddon>
            <input type="text" id="directEmail" formControlName="directEmail" pInputText>
        </p-inputGroup>
        <div class="error" *ngIf="otherForm.controls['directEmail'].invalid && otherForm.controls['directEmail'].touched">
            EL correo electrónico del gerente es necesario
        </div>
    </div>
</div>