<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Guia 2 Samuel Salazar</title>
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
</head>
<body>
  <!-- Parte 1 -->
  <h2 class="Titulo"> Venta de celulares </h2>
  <p class="Parrafo1"> Celulares calidad precio </p>
  <p class="Parrafo2"> No te pierdas de los mejores precios!</p>
  <ul>
    <li><a class="link" href="https://www.apple.com/co/">Apple</a></li>
    <li><a class="link" href="https://www.samsung.com/co/">Samsung</a></li>
    <li><a class="link" href="https://www.mi.com/co/">Xiaomi</a></li>
  </ul>
  <table class="table1">
    <tr>
      <th>Productos</th>
      <th>Existencias</th>
      <th>Valor</th>
    </tr>
    <tr>
      <td>Iphone</td>
      <td>10</td>
      <td>$2.000.000</td>
    </tr>
    <tr>
      <td>Mouse</td>
      <td>100</td>
      <td>$50.000</td>
    </tr>
    <tr>
      <td>PC Gamer</td>
      <td>2</td>
      <td>$3.000.000</td>
    </tr>
  </table>
  <!-- Parte 2 -->
  <div class=contenedor>
    <div class=header>
      <div class=logo>
        <img src="https://www.xsportshelmets.com/sites/default/files/2021-08/Recurso%202%400.5x.png" alt="Logo">
      </div>
      <div class=menu>
        <a href="https://www.xsportshelmets.com/">INICIO</a>
        <a href="https://www.xsportshelmets.com/quienes-somos">NOSOTROS</a>
        <a href="https://www.xsportshelmets.com/noticias">NOTICIAS</a>
        <select name="ListaCascos" id="">
          <option disabled selected>CASCOS</option>
          <option value="1">V151</option>
          <option value="2">M63</option>
          <option value="3">M67</option>
          <option value="4">M66SV</option>
          <option value="5">M66</option>
          <option value="6">Accesorios</option>
        </select>
      </div>
      <div class=buscador>
        <form action="">
          <input type="search" placeholder="Buscar">
        </form>
        <img src="https://img.icons8.com/?size=100&id=2sWrwEXiaegS&format=png&color=FFFFFF" alt="Lupa" width="20px" height="20px"> 
      </div>
    </div>
    <div class=main>
      <div class= side-bar>
        <h1 class= TipoCasco>V151 NEGRO MATE</h1>
        <h2 class= precio>$279.000</h2>
        <table class=TablaTamanios>
          <tr class=EncabezadoTabla>
            <th>Tamaño</th>
            <th>Talla</th>
            <th>Tamaño Cabeza</th>
          </tr>
          <tr class=fila>
            <td>Pequeño</td>
            <td>S</td>
            <td>55-56 cm</td>
          </tr>
          <tr class=fila>
            <td>Mediano</td>
            <td>M</td>
            <td>57-58 cm</td>
          </tr>
          <tr class = fila>
            <td>Grande</td>
            <td>L</td>
            <td>59-60 cm</td>
          </tr>
          <tr class = fila> 
            <td>Extra Grande</td>
            <td>XL</td>
            <td>61-62 cm</td>
          </tr>
        </table>
        <h2 class=casco>Descripción</h2>
        <p class = descripcionCasco>Ofreciendo todas las características y la protección 
          necesaria para superar los estándares Europeos. El casco X-SPORTS V151 te ofrece tecnología
          desarrollada tras muchos años de pruebas y estudios para garantizar que el 
          piloto pueda abrir al máximo el acelerador.</p>
      </div>
      <div class=content>
        <img src="https://www.xsportshelmets.com/sites/default/files/2021-09/7705946841795_1.jpg" alt="fotoCasco">
      </div>
    </div>
    <div class = footer>
      <div class=footer-Img>
        <img src="https://www.xsportshelmets.com/sites/default/files/2021-09/1-%20SHD_0.png" alt="SHD">
      </div>
      <div class=footer-Img>
        <img src="https://www.xsportshelmets.com/sites/default/files/2021-09/2-%20Approved%20USA.png" alt="USA TESTED">
      </div>
      <div class=footer-Img>
        <img src="https://www.xsportshelmets.com/sites/default/files/2021-09/3-%20Advance%20Aerodynamic%20design_0.png" alt="AERODINAMIC">
      </div>
      <div class=footer-Img>
        <img src="https://www.xsportshelmets.com/sites/default/files/2021-09/4-%20Ultravent%20System_0.png" alt="ULTRAVENTSYSTEM">
      </div>
      <div class=footer-Img>
        <img src="https://www.xsportshelmets.com/sites/default/files/2021-09/9-%20Reflective_0.png" alt="REFLECTIVE">
      </div>
    </div>
  </div>
</body>
</html>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />