<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class=contenedor>
    <div class=header>
      <div class=logo>
        <img src="https://www.xsportshelmets.com/sites/default/files/2021-08/Recurso%202%400.5x.png" alt="Logo">
      </div>
      <div class=menu>
        <a href="https://www.xsportshelmets.com/">INICIO</a>
        <a href="https://www.xsportshelmets.com/quienes-somos">NOSOTROS</a>
        <a href="https://www.xsportshelmets.com/noticias">NOTICIAS</a>
        <select name="ListaCascos" id="">
          <option disabled selected>CASCOS</option>
          <option value="1">V151</option>
          <option value="2">M63</option>
          <option value="3">M67</option>
          <option value="4">M66SV</option>
          <option value="5">M66</option>
          <option value="6">Accesorios</option>
        </select>
      </div>
      <div class=buscador>
        <form action="">
          <input type="search" placeholder="Buscar">
        </form>
        <img src="https://img.icons8.com/?size=100&id=2sWrwEXiaegS&format=png&color=FFFFFF" alt="Lupa" width="20px" height="20px"> 
      </div>
      
    </div>
    <div></div>
  </div>
</body>
</html>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />