/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.contenedor {
    gap: 10px;
    display: grid;
    grid-template-rows: repeat(3);
}

.logo img {
    width: 150px;
    height: 50px;
}

.logo {
    width: 190px;
    height: 80px;
    background-color: #EB3300;
    justify-content: center; /*Sirve para centrar horizontalmente*/
    align-items: center; /*Sirve para centrar verticalmente*/
    display: flex;
}
.header {
    background-color: #000;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    display: grid;
    align-items: center;
}
.menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 100px;
    align-items: center;
    font-family: "Open Sans";
    font-weight: bold;
}
.buscador {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    align-items: center;
}

.menu a {
    color:#fff;
    text-decoration: none;
}
.menu a:visited { 
    color: #ffffff; 
    text-decoration: none;
}

.menu a:hover {
color: #ffffff;
text-decoration: none;
font-size: 18px;
}

select {
    background-color: black;
    border: none;
    color:#ffffff;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 15px;
}

.side-bar {
    width: 500px;
    height: 480px;
    background-color: #EB3300;
    border-radius: 10px;
    box-shadow: 20px 12px 14px rgb(226, 226, 226);
    color: #fff;
    font-family: "Open Sans";
    padding: 20px;
}
.TipoCasco { 
    text-align: right;
}
.precio {
    text-align: right;
}
.main {
    grid-template-columns: repeat(2,1fr);
    display: grid;
}
.content {
    width: 480px;
    height: 480px;
}
.content img {
    width: 100%;
    height: auto;
}
.side-bar th, td {
    border-bottom: 1px solid #fff;
}
.side-bar th{
    height: 50px;
}
.TablaTamanios{
    width: 100%;
    justify-content: center;
}
.fila{
    text-align: center;
}
.descripcionCasco{
    text-align: justify;
}
.footer {
    height: 110px;
    background-color: #000;
    grid-template-columns: repeat(5,1fr);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
}
.footer-Img img{
    width: 100px;
    height: auto;
}

.Titulo {
    color: #ff4900;
    font-size: 2rem;
}
.Parrafo1 {
    font-size: 16px;
    color: #0093FF;
    font-family: Arial;
}
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
.Parrafo2 {
    font-size: 12px;
    color: c500ff;
    font-family: "Nerko One";
}
.link {
    text-decoration: none;
    color:#001bff;
    font-weight:bold;
}
.link:visited{color:#4CAF50;}

.link:hover{
    color:#ff6600;
    text-decoration: underline;
}

.table1 th {
    background-color: #000000;
    color:#ffffff;
    font-size: 1.5rem;
}

.table1 tr:nth-child(2), .table1 tr:nth-child(4) {
    background-color: #bec1c3;
    color: #000;
    font-size: 1.5rem;
}
.table1 tr:nth-child(3) {
    background-color: #045795;
    font-size: 1.5rem;
    color:#fff;
}