<!-- Titulo -->
<h1>Formulario de Solicitud de Vacaciones</h1>
<div [formGroup]="otherForm">
    <div class="p-field"> <!-- Nombre -->
        <p><b>Nombre</b></p>
        <p class="subtitle">Descripción</p>
        <div class="formgrid grid gap-2">
            <div class="field col">   
                <input pInputText type="text" id="firstName" formControlName="firstName" placeholder="Primer Nombre" class="w-full">
                <div class="error" *ngIf="otherForm.controls['firstName'].invalid && otherForm.controls['firstName'].touched">
                    El nombre es requerido
                </div>
            </div>
            <div class="field col">
                <input pInputText type="text" id="lastName" formControlName="lastName" placeholder="Apellido" class="w-full">
                <div class="error" *ngIf="otherForm.controls['lastName'].invalid && otherForm.controls['lastName'].touched">
                    El apellido es requerido
                </div>
            </div>
        </div>
    </div>

    <div class="p-field"> <!-- Correo -->
        <label for="email"><b>Correo electrónico</b></label>
        <p class="subtitle">Descripción</p>
        <p-inputGroup>
            <p-inputGroupAddon><i class="pi pi-envelope"></i></p-inputGroupAddon>
            <input pInputText type="text" formControlName="email" id="email" class="w-full">
        </p-inputGroup>
        <div class="error" *ngIf="otherForm.controls['email'].invalid && otherForm.controls['email'].touched" >
            El email es requerido
        </div>
    </div>

    <div class="p-field"> <!-- Telefono -->
        <label for="phone"><b>Telefono</b></label>
        <p class="subtitle">Descripción</p>
        <p-inputGroup>
            <p-inputGroupAddon><i class="pi pi-phone"></i></p-inputGroupAddon>
            <input pInputText type="text" id="phone" formControlName="phone" class="w-full">
        </p-inputGroup>
        <div class="error" *ngIf="otherForm.controls['phone'].invalid && otherForm.controls['phone'].touched">
            El telefono es requerido
        </div>
    </div>
</div>








