<!-- Titulo -->
<h1>Formulario de Solicitud de Vacaciones</h1>
<!-- Nombre -->
<p><b>Nombre</b></p>
<p class="subtitle">Descripción</p>
<div class="formgrid grid gap-2">
    <div class="field col">   
        <input pInputText type="text" id="firstName" placeholder="Primer Nombre" class="w-full">
    </div>
    <div class="field col">
        <input pInputText type="text" id="lastName" placeholder="Apellido" class="w-full">
    </div>
</div>
<!-- Correo -->
<p><b>Correo electrónico</b></p>
<p class="subtitle">Descripción</p>
<p-inputGroup>
    <p-inputGroupAddon><i class="pi pi-envelope"></i></p-inputGroupAddon>
    <input pInputText type="text" class="w-full">
</p-inputGroup>
<!-- Telefono -->
<p><b>Telefono</b></p>
<p class="subtitle">Descripción</p>
<p-inputGroup>
    <p-inputGroupAddon><i class="pi pi-phone"></i></p-inputGroupAddon>
    <input pInputText type="text" class="w-full">
</p-inputGroup>



