<div class="p-fluid">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()"> <!--  -->
      <div class="p-field">
        <label for="name">Nombre</label>
        <input id="name" type="text" pInputText formControlName="name" />
        <div *ngIf="userForm.controls['name'].invalid && userForm.controls['name'].touched" class="error">
          El nombre es requerido
        </div>
      </div>
  
      <div class="p-field">
        <label for="email">Correo electrónico</label>
        <input id="email" type="email" pInputText formControlName="email" />
        <div *ngIf="userForm.controls['email'].invalid && userForm.controls['email'].touched" class="error">
          Correo no válido
        </div>
      </div>
  
      <div class="p-field">
        <label for="password">Contraseña</label>
        <input id="password" type="password" pPassword formControlName="password" />
        <div *ngIf="userForm.controls['password'].invalid && userForm.controls['password'].touched" class="error">
          La contraseña debe tener al menos 6 caracteres
        </div>
      </div>
  
      <button pButton type="submit" label="Registrar" [disabled]="userForm.invalid"></button>
    </form>
  </div>
  
